<%- include('./header', { user: user, page: 'doodle', doodle: doodle }) %>

<title>Doodles</title>
<script>
var base_url = location.origin + '/';

$(function(){
  //. ヒストリバック無効化
  if( window.history && window.history.pushState ){
    history.pushState( "nohb", null, null );
    $(window).on( "popState", function( evt ){
      if( !event.originalEvent.state ){
        history.pushState( "nohb", null, null );
        return;
      }
    });
  }

	init();
});

function init(){
  $('#cdiv').html( '<canvas width="80%" height="50%" id="mycanvas"></canvas>' );

  //. リサイズ時に Canvas サイズを変更する
  $(window).on( 'load resize', function(){
    resized();
  });
  resized();
}

function resized(){
  var browserWidth = window.innerWidth;
  var browserHeight = window.innerHeight;
  var canvas = document.getElementById( 'mycanvas' );
  if( canvas && canvas.getContext ){
    canvas.width = browserWidth * 0.8;
    canvas.height = browserHeight * 0.6;

    var ctx = canvas.getContext( '2d' );
    var background = new Image();
    background.src = '/image/<%= doodle._id %>';
    background.onload = function(){
      ctx.drawImage( background, 0, 0, canvas.width, canvas.height );
    }
  }
}

function edit_doodle( id ){
  window.location.href = '/?id=' + id;
}
</script>
<style type="text/css">
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
#mycanvas{
  border: 1px solid #333;
}
</style>
</head>
<body>

<%- include('./navi', { page: 'doodle', user: user, doodle: doodle }) %>

<div class="container">
  <!-- href="https://twitter.com/share?url=[URL]&text=[text]" -->
  <a id="share_twitter" title="<%= __('navi.share_twitter') %>" href="https://twitter.com/share?url=<%= base %>doodle/<%= doodle._id %>&text=%20<%= doodle && doodle.text ? doodle.text : 'doodles' %><%= doodle && doodle.username ? '&via=' + doodle.username : '' %>&hashtags=doodles" target="_blank">
    <img src="/imgs/share_twitter.png"/>
  </a>

  <!-- href="https://www.facebook.com/share.php?u=[URL]" -->
  <a id="share_facebook" title="<%= __('navi.share_twitter') %>" href="https://www.facebook.com/share.php?u=<%= base %>doodle/<%= doodle._id %>" onClick="window.open(this.href, 'FBwindow', 'width=650,height=450,menubar=no,toolbar=no,scrollbars=yes'); return false;">
    <img src="/imgs/share_facebook.png"/>
  </a>

  <!-- href="https://social-plugins.line.me/lineit/share?url=[URL]" -->
  <a id="share_line" title="<%= __('navi.share_line') %>" href="https://social-plugins.line.me/lineit/share?url=<%= base %>doodle/<%= doodle._id %>" onClick="window.open(this.href, 'Linewindow', 'width=650,height=450,menubar=no,toolbar=no,scrollbars=yes'); return false;">
    <img src="/imgs/share_line.png"/>
  </a>
</div>

<div id="canvas_div">
  <div id="cdiv"></div>
  <br/>
  <div id="doodle_text"><%= doodle.text %></div>
<% if( user && user.screen_name == doodle.username ){ %>
  <br/>
  <button id="edit_doodle_btn" class="btn btn-warning" onClick="edit_doodle('<%= doodle._id %>')">編集</button>
<% } %>
</div>

<%- include('./footer', { page: 'doodle' }) %>
