<%- include('./header', { user: user, page: 'list', doodle: null }) %>

<title>Doodles</title>
<script>
var base_url = location.origin + '/';

$(function(){
  //. ヒストリバック無効化
  if( window.history && window.history.pushState ){
    history.pushState( "nohb", null, null );
    $(window).on( "popState", function( evt ){
      if( !event.originalEvent.state ){
        history.pushState( "nohb", null, null );
        return;
      }
    });
  }

	init();
});

function init(){
  $.extend( $.fn.dataTable.defaults, {
    language: {
      url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json'
    }
  });
  $('#list').DataTable({
    columnDefs: [{
      targets: [ 0, 3 ],
      orderable: false,
      searchable: false
    }],
    order: [ [ 2, 'desc' ] ]
  });

  //. リサイズ時に Canvas サイズを変更する
  $(window).on( 'load resize', function(){
    resized();
  });
}

function resized(){
  var browserWidth = window.innerWidth;
  var browserHeight = window.innerHeight;
}

function delete_doodle( id ){
  if( confirm( id + ' を削除します。よろしいですか？' ) ){
    $.ajax({
      type: 'DELETE',
      url: '/doodle/' + id,
      success: function( result ){
        location.href = '/doodles';
      },
      error: function( err ){
        console.log( err );
      },
    });
  }
}
</script>
<style type="text/css">
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
</style>
</head>
<body>

<%- include('./navi', { page: 'list', user: user, doodle: null }) %>

<div class="container">
  <table id="list" class="table table-bordered">
    <thead>
      <tr><th>#</th><th>text</th><th>datetime</th><th>action</th></tr>
    </thead>
    <tbody>
<% doodles.forEach( function( doodle ){ %>
      <tr>
        <td><a href="/doodle/<%= doodle._id %>"><img title="<%= doodle._id %>" src="/image/<%= doodle._id %>" width="100"/></a></td>
        <td><%= doodle.text %></td>
        <td><%= doodle.timestamp %></td>
        <td><button class="btn btn-danger" onClick="delete_doodle('<%= doodle._id %>')">削除</button></td>
      </tr>
<% }); %>
    </tbody>
  </table>
</div>

<%- include('./footer', { page: 'list' }) %>
